
footer {
    display: flex;
  
    align-items: center;

    justify-content: space-evenly;
  
    background-color: rgba(46, 148, 138, 1);
    width: 100%;
    height: 157px;

  
  }

  footer img {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 250px;
    margin-left: 100px;
    
  }

   
  footer nav a:hover {
    transition: 0.4s;  
    color:indigo;
  }

  footer nav a {
    color: #FFF;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-left: 150px;
    margin-right: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: regular;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;


  }

  #ser-prof nav a {
   font-size: 16px;
   text-align: center;
   padding: 10px 50px;  
   border-radius: 40px;
   border: 2px solid #FFF;
   margin-bottom: 8px;
   margin-top: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: regular; 
   line-height: 16px;
   vertical-align: top;
   fill:solid;
   text-decoration: none;

}

@media (max-width: 480px) {
  footer img {
    margin-left:auto;
    margin-right: auto;
  }
  
  footer nav{
    display: none;
  }
  
  #ser-prof {
    display: none;
  }
}
