header {
    background-color: #2E948A;    
    display: flex;  
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 150px;

}
header img {
    padding-top: 50px;
    padding-bottom: 52.57px;
    width: 250px;
    margin-right: 50px;

}

header nav a {
    color: #FFF;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-left: 50px;
    text-decoration: none;
    vertical-align: top;

  }
  
  header nav a:hover {
    transition: 0.4s;  
    color:#FF4081
  }

  @media (max-width: 480px) {
    header{
      position: relative;
    }
    
    header img{
      position:absolute;
      top: -40px;
      width: 10rem;
      left: 30vw;
      
    }
   
    header nav {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
    header nav a{
      font-size: 1rem;
      margin-left: 7px;
      margin-right: 7px;
    }

  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    header{
      position: relative;
    }
    
    header img{
      position:absolute;
      top: -40px;
      width: 10rem;
      left: 30vw;
  }
  header nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  header nav a{
    font-size: 1,3rem;
    margin-left: 7px;
    margin-right: 7px;
  }

}