body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#titulo h1 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-1);
    margin-left: 80px;
    margin-top: 50px;
}

#titulo p {
    color: var(--cor-subtitulo);
    font-size: var(--fonte-subtitulo);
    margin-left: 83px;
    margin-top: -5px;
}

#investimento-iniciantes  {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: -300px;
  
}

#linha-separacao-1 {
    position: absolute;
    height: 5px;
    width: 1244px;
    left: 170px;
    top: 760px;

}

#poupando-rendendo  {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: -300px;
}

#linha-separacao-2 {
    position: absolute;
    height: 5px;
    width: 1244px;
    left: 170px;
    top: 1240px;

}

#independencia-financeira  {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: -300px;
}

#imagem {
    width: 390px;
    height: 390px;
}

#texto {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 600px;
    height: 390px;
    margin-left: 100px;
    
}

#texto h2 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
}

#texto p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    word-wrap: break-word;
    text-align: justify;
    
}

#texto button {
    border-radius: 62px;
    background-color: var(--cor-de-fundo);
    width: 233px;
    height: 51px;
    margin-top: 10px;
    margin-left: -10px;
    border-color:transparent;
}

#texto a {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
}

