
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#titulo {
    margin-bottom: 70px;
}
#titulo h1 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-1);
    margin-left: 80px;
    margin-top: 50px;
}

#titulo p {
    color: var(--cor-subtitulo);
    font-size: var(--fonte-subtitulo);
    margin-left: 83px;
    margin-top: -5px;
}

#investimento-iniciantes  {
    display: flex;
    justify-content:center;
    align-items:center;
  
}

#investimento-iniciantes img {
    width: 24,3rem;
    height: 24,3rem;
    
}

#texto-1 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 50rem;
    height: 24,3rem;
    margin-left: 100px;
    
}

#texto-1 h2 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
    margin-bottom: 40px;
}

#texto-1 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 40px;
    
}

#texto-1 button {
    border-radius: 62px;
    background-color: var(--cor-de-fundo);
    width: 233px;
    height: 51px;
    border-color:transparent;
}

#texto-1 a {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
}

#linha-separacao-1 {
    position: relative;
    height: 50px;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 20px;

}
#linha-separacao-1 img {
    position: absolute;
    left: 12%;
    top: 50%;
}

#poupando-rendendo  {
    display: flex;
    justify-content:center;
    align-items:center;

}

#poupando-rendendo img {
    width: 24,3rem;
    height: 24,3rem;
    
}

#texto-2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 50rem;
    height: 24,3rem;
    margin-left: 100px;
    
}

#texto-2 h2 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
    margin-bottom: 40px;
}

#texto-2 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 40px;
    
}

#texto-2 button {
    border-radius: 62px;
    background-color: var(--cor-de-fundo);
    width: 233px;
    height: 51px;
    border-color:transparent;
}

#texto-2 a {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
}

#linha-separacao-2 {
    position: relative;
    height: 50px;
    width: 100vw;
    margin-top: 18px;
    margin-bottom: 18px;

}
#linha-separacao-2 img {
    position: absolute;
    left: 12%;
    top: 50%;
}

#independencia-financeira  {
    margin-bottom: 180px;
    display: flex;
    justify-content:center;
    align-items:center;

}

#independencia-financeira img {
    width: 24,3rem;
    height: 24,3rem;
    
}

#texto-3 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 50rem;
    height: 24,3rem;
    margin-left: 100px;
    
}

#texto-3 h2 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
    margin-bottom: 40px;
}

#texto-3 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 40px;
    
}

#texto-3 button {
    border-radius: 62px;
    background-color: var(--cor-de-fundo);
    width: 233px;
    height: 51px;
    border-color:transparent;
}

#texto-3 a {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
}

@media only screen and (max-width: 480px) { 
    #titulo {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        
        
    }
    #titulo h1 {
        margin-left: 0;
    }
    #titulo p {
        margin-left: 0;
    }
    #investimento-iniciantes {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    #texto-1 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-1 h2 {
        text-align: center;
        
    }

    #texto-1 button {
        margin: auto;
    }
    #linha-separacao-1 img {
        left: -50%;    
    }
    #poupando-rendendo {
        flex-direction: column;
        align-items: center;
    }
    #texto-2 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-2 h2 {
        text-align: center;
        
    }
    #texto-2 button {
        margin: auto;
    }
    #linha-separacao-2 img {
        top: 100%;
        left: -50%;    
    }
    #independencia-financeira {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    #texto-3 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-3 h2 {
        text-align: center;
        
    }
    #texto-3 button {
        margin: auto;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #titulo {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        
        
    }
    #titulo h1 {
        margin-left: 0;
    }
    #titulo p {
        margin-left: 0;
    }
    #investimento-iniciantes {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-left: 0;
        margin-right: auto;
    }
    #texto-1 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-1 h2 {
        text-align: center;
        
    }

    #texto-1 button {
        margin: auto;
    }
    #linha-separacao-1 img {
        left: -50%;    
    }
    #poupando-rendendo {
        flex-direction: column;
        align-items: center;
    }
    #texto-2 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-2 h2 {
        text-align: center;
        
    }
    #texto-2 button {
        margin: auto;
    }
    #linha-separacao-2 img {
        top: 100%;
        left: -50%;    
    }
    #independencia-financeira {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    #texto-3 {
        width: 100vw;
        margin-left: 0;
    }
    #texto-3 h2 {
        text-align: center;
        
    }
    #texto-3 button {
        margin: auto;
    }
    
}