h1 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-1);
    margin-left: 220px;
    margin-top: 100px;
}

p {
    color: var(--cor-subtitulo);
    font-size: var(--fonte-subtitulo);
    margin-left: 22px;
    margin-top: 200px;
}

#investimento-iniciantes  {
    width: 1157px;
    background-color: rgb(123, 205, 230);
    left: 112px;
    top: 385px;
    height: 381px;
    margin-left: 200px;
    display: flex;
}


#investimento-iniciantes h2 {
    color:var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
    width: 512px;
    left: 545px;
}