body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aulas {
    background-color: var(--cor-fundo-cinza);
}

#texto h1 {
    color: var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-1);
    width: 25vw;
}

#texto p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    text-align: justify;
    width: 25vw;
}

#topo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
}

#imagem {
    margin-left: 70px;
}

#aula1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
}

#texto-aula-1 {
    display: flex;
    flex-direction: column;
    margin-top: -35px;
    
}

#texto-aula-1 h2 {
    color: var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
}

#texto-aula-1 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    text-align: justify;
    width: 25vw;
}

#imagem-aula-1 {
    margin-right: 50px;
}

#linha-separacao-1 {
    position: absolute;
    height: 3px;
    width: 1244px;
    top: 1100px;
    left: 300px;
}

#aula2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
}

#texto-aula-2 {
    display: flex;
    flex-direction: column;
    margin-top: -35px;
    
}

#texto-aula-2 h2 {
    color: var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
}

#texto-aula-2 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    text-align: justify;
    width: 25vw;
}

#imagem-aula-2 {
    margin-right: 50px;
}

#linha-separacao-2 {
    position: absolute;
    height: 3px;
    width: 1244px;
    top: 1600px;
    left: 300px;
}

#aula3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
}

#texto-aula-3 {
    display: flex;
    flex-direction: column;
    margin-top: -35px;
    
}

#texto-aula-3 h2 {
    color: var(--cor-titulo-rosa);
    font-size: var(--fonte-titulo-2);
}

#texto-aula-3 p {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    text-align: justify;
    width: 25vw;
}

#imagem-aula-3 {
    margin-right: 50px;
}
