* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*CORES*/
    --cor-de-fundo: #2E948A;
    --cor-titulo-rosa: #FF4081;
    --cor-subtitulo: #555555;
    --cor-titulo-verde: #009688;
    --cor-texto: #000;
    --cor-fundo-cinza: #E5E5E5;
    /*FONTES*/
    --fonte-titulo-1: 60px;
    --fonte-titulo-2: 40px;
    --fonte-subtitulo: 20px;
    --fonte-texto: 18px;
}